* {
   width: 960px;
}

body {
    background-image: url("../images/dynamic-style.png");
}

.name {
    width: 75%;
    margin-left: -1em;
}
.logo {
    display: inline-block;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.04em;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 1em;
    width: auto;
    margin: 0;
}
.nav {
    width: 49%;
    text-align: right;
    color: #b1adb3;
    font-weight: normal;
    position: fixed; 
    right: 100px;
    top: 50px;
    
}
.nav {
    display: inline-block;
    padding-left: 1em;
    margin-left: 1em;
}
.nav a {
    color: #b1adb3;
    text-decoration: none;
    -webkit-transition: color .4s;
    transition: color .4s;
}
.nav a:hover {
    color: #4aaaa5;
}
.nav a.active {
    color: #000000;
}

h1 {
    color: #4aaaa5;
}

#bio-image {
    width: 200px;
    height: 275px;
    float: left;
    margin-right: 20px;
}

.p {
    float: left;
    margin: 0;
     
}

h6 {
    color: #666666;
    background-color: #666666
    position: fixed;
    right: 100px;
    bottom: 50px;
}

.firstimg {
    width: 200px;
    height: 200px;
    position: static;
    float:left;
}

.secondimg {
    width: 200px;
    height: 200px;
    position: static;
    float: right;
}

.thirdimg {
    width: 200px;
    height: 200px;
    position: static;
    float: left;
}

.fourthimg {
    width: 200px;
    height: 200px;
    position: static;
    float: right;
}

 